</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <em>Vanessa Pereira</em>
  <p>Copyright &copy; <span id="year"></span></p>

  <script>
    const yearElement = document.getElementById("year");
    yearElement.textContent = new Date().getFullYear();
  </script>

</footer>
</body>

</html>